

.preview-information{
    margin-top:10px; 
    
}

img{
    width: 300px;
    height: 250px;
}

.preview-information{
    text-align: center;
}

.preview-information > audio{
    margin-top: 5px;
}

